.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.balance-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.balance-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  width: 33%
}
