body{
  /* background-color: #5BC5A7; */
}
.dashboard-header {
    display: flex;
    flex-direction: row;
    height: 64px;
    width: 558px;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    position: relative;
    padding: 10px 10px 10px;
    /* box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.20); */
    /* border: 1px solid lightgrey; */
  }

  .balance-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #EEEEEE;
  }

  .balance-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    width: 33%
  }

  .dashboard-owe-header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .debt-background {
    display: flex;
    justify-content: center;
  }


  .debt-background {
    width: 100%;
    /* border-bottom: 1px solid lightgray; */
    text-align: center;
  }

  .debt-background div{
    width: 100%;
    margin-top: 5px;
  }


  .debt-background :hover {
    background-color: lightgray

  }

  .i-am-owed {
    border-left: 1px solid lightgray;
  }

  .i-owe {
    border-right: 1px solid lightgray;
  }

  .debt-owes-you {
    color: #5BC5A7
  }

  .debt-i-owe {
    color: coral
  }
  button.button.caret {
    width: 28px;
    height: 38px;
    appearance: none;
    border: 1px solid  rgba(70, 70, 70, 0.233);
    border-radius: 1px 4px 4px 1px;
    /* border-radius: 4px; */
    background: #ff652f;
    position: relative;
    right: 10px;
    min-width: unset;
    margin: unset;
    padding: unset;
  }

  div.buttons p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    height: 38px;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    padding: unset;
  }
  div.composite-button :hover {
    background: #ff4d21;
    filter: unset;
  }
  .button.settle-up-button {
    background: #5bc5a7;
    width: 88px;
    height: 38px;
    border: 1px solid  rgba(70, 70, 70, 0.233);
    border: 1px solid  rgba(70, 70, 70, 0.233);
    padding: unset;
  }
  .button.add-expense-button {
    border-radius: 4px 1px 1px 4px;
    border: 1px solid  rgba(70, 70, 70, 0.233);
    background: #ff652f;
    width: 133px;
    height: 38px;
    padding: unset;
    /* margin: unset; */
    /* margin-bottom: 8px; */
  }
  div.settle-up > button.settle-up-button :hover {
    background: #0eb888b2;
    filter: unset;
    /* text-shadow: unset; */
  }
  #dashboard-right {
    padding-left:0px;
  }

  #dashboard-left {
    padding-right:0px;
  }

  div.title.is-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    margin-inline-start: 0.67em;
    font-size: 25px;
    color: #333333;
  }

  i.fa-caret-down {
    color: white;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
  }
