div.hover-click :hover {
  cursor: pointer;
}

.friend-options {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

.friend-options a {
  border-bottom: #d3d3d3;
}

.expense-remove-friend {
  margin-left: 15px;
}
