.expense-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 60px;
  position: relative;
  border-bottom: 1px solid lightgray;
}

.expense :hover {
  background: #f7f7f7;
}

.expense-date {
  display: flex;
  color: #B29999;
  flex-direction: column;
  align-items: center;
  margin: 3px;
}

.day {
  font-size: 21px;
  font-weight: 400;
  margin-top: -10px;
  font-kerning: none;
}

.month {
  font-size: 11px;
}

.expense-tile i {
  background-color: lightgray;
  margin: 4px;
}

.expense-title {
  font-size: 18px;
  margin-right: 20px;
}

.expense-tile-stats {
  display: flex;
  flex-direction: row;
  /* justify-self: right; */
  align-self: flex-end;
  justify-content: right;
  align-items: center;
  position: relative;
  /* right: 0; */
  /* margin-right: 10px; */
}

.expense-tile-right {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}
.expense-tile-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* text-align: right;
  margin-right: 5px;
  color: black; */
}

.expense-tile-lender {
  color: lightgray
}

.expense-tile-amount {
  color: green;
  font-weight: 600;
}

.expense-header {
  display: flex;
  flex-direction: row;
}

#expense-display-body {
  margin-top: 15px;
  border-top: 1px solid lightgray;
}
