#navbar {
  background-color: #5bc5a7;
  margin-bottom: 5px;}

a.active-page {
  font-weight: bold;
}

i.active-page {
  box-shadow: -5px 0px 0px 0px lightgray;
}

.page-link {
  color: #5bc5a7;
}

.side-nav li {
  display: flex;
  flex-direction: row;
}

#logo {
  /* height: 35px; */
  /* width: 120px; */
  /* max-height: fit-content; */
  /* margin-bottom: 15px; */
  /* width: 100vh; */
  /* border: 1px solid black; */
}

nav#navbar.navbar.container.is-widescreen {
  height: 45px;
  padding: 0px;
  width: 100%;
  max-width: unset;
  min-height: unset;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

div.navbar-brand {
  height: 33px;
  min-height: unset;
  position: relative;
  width: auto;
}

div.navbar-brand .navbar-item {
  height: 33px;
  min-height: unset;
  
}

div.navbar-brand img {
  height: 22px;
  min-height: unset;
  vertical-align: middle;
  padding-left: 15px;
  /* float: left; */
  /* position: sticky;
  position: relative;
  left: 150%; */
}

#log-in-button {
  background-color: #5bc5a7;
  /* box-shadow: -2px 2px darkgray; */
  border: 1px solid black;
  margin-right: 10px;
}

#log-in-button:hover {
  /* box-shadow: -2px 2px black;; */
  background-color: darkgray;
}

#sign-up-button {
  background-color: #ff5216;
}

#sign-up-button:hover {
  background-color: darkgray;
  color: black;
  border: 1px solid black;
}
