#left-column {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#center-column {
  /* border-right: 1px solid lightgray; */
  border-left: 1px solid lightgray;
  height: 100vh;
  padding: 0px;
  margin-top: 12px;
  width: 558px;
  /* max-width: 558px; */
}

#invite-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matches-root {
  position: relative;
  width: 100%;
  margin-bottom: 20px;;
}

.matches-container {
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
  border: 1px solid #5DC5A6;
  background-color: white;
  z-index: 5;
}

.matches-container div {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

table.friends-table {
  width: 100%;
  margin-top: 15px;
}

#right-column.is-one-fifth  {
  width: 180px;
  height: auto;
  background-color: #FFFFFF;
  position: relative;
  box-shadow: inset 65px 0px 43px -71px rgba(0, 0, 0, 0.25);
  border-left: 1px solid lightgray;
}
#left-column.is-one-fifth {
  width: 180px;
  height: auto;
  background-color: #FFFFFF;
  position: relative;
  box-shadow: inset -65px 0px 43px -71px rgba(0, 0, 0, 0.25);
}

div.container.is-widescreen{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 960px;
}
