#left-column {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#center-column {
  /* border-right: 1px solid lightgray; */
  border-left: 1px solid lightgray;
  min-height: 100vh;
  height: auto;
  padding: 0px;
  margin-top: 12px;
  width: 558px;
  /* max-width: 558px; */
}

#invite-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matches-root {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.matches-container {
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
  border: 1px solid #5dc5a6;
  background-color: white;
  z-index: 5;
}

.matches-container div {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

table.friends-table {
  width: 100%;
  margin-top: 15px;
}

#right-column.is-one-fifth {
  width: 180px;
  height: auto;
  background-color: #ffffff;
  position: relative;
  box-shadow: inset 65px 0px 43px -71px rgba(0, 0, 0, 0.25);
  border-left: 1px solid lightgray;
}
#left-column.is-one-fifth {
  width: 180px;
  height: auto;
  background-color: #ffffff;
  position: relative;
  box-shadow: inset -65px 0px 43px -71px rgba(0, 0, 0, 0.25);
}

div.container.is-widescreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 960px;
}

.net-owed-header {
  font-size: 12px;
  font-weight: bold;
  color: gray;
  margin-bottom: 25px;
}

.net-owed-number {
  font-size: 30px;
}

.net-owed-positive {
  color: #5dc5a6;
}

.net-owed-negative {
  color: #ec4724;
}
