#left-column {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#center-column {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  box-shadow: 3px 0px 8px 1px lightgray, -3px 0px 8px 1px lightgray;
  height: 100vh;
}

#invite-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matches-root {
  position: relative;
  width: 100%;
  margin-bottom: 20px;;
}

.matches-container {
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
  border: 1px solid #5DC5A6;
  background-color: white;
  z-index: 5;
}

.matches-container div {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

table.friends-table {
  width: 100%;
  margin-top: 15px;
}