.navbar-links{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button{
  font-size: 15px;
  background-color: #1cc29f;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  padding: 0 1.25rem 0 1.25rem;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column;  */
  flex-direction: row;
}

.area-1{
  display: flex;
  background-color: #F6F7F7;
  height: 250px;
  width: 42%
}

.header-one__paragraph{
  font-size: 1.125rem;
  max-width: 20rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: normal;
}

.area-1-span{
  font-family: Montserrat;
  font-size: 2.5rem;
  color: #373b3f;
}

.under-icons{
  background-color: #F6F7F7;
  width: 42%;
}

.landing-page-container .fas {
  font-size: 50px;
  display: flex;
  flex-direction: row;
}

.balances{
  background-color: #383e41;
  color: white;
}

.expenses{
  background-color: #39c3a2;
  color: white;
}

.friends{
  background-color: #f17445;
  color: white;
}

.add-expenses{
  background-color: #383e41;
  color: white;
}

.under-icons{
  display: flex;
  flex-direction: column;
}

.header-one{
  border: 1px black solid;
}

.header-one__button{
  display: flex;
  justify-content: center;

}

.header-two{
  border: 1px black solid;
}

.header-three{
  border: 1px black solid;
}

.header-four{
  border: 1px black solid;
}

.pro-box{
  background-color: #8356C7;
  color: white;
  width: 1835px;
  height: 600px;
  display: flex;
}

.pro-box-left__header{
  font-weight: bold;
  font-size: 40px;
}

.pro-box-left__pari{
  font-size: 20px;
}

.pro-box__button{
  display: flex;
  justify-content: center;
}

.pro-box-right{
  display: flex;
}

.pro-box-right__image{
  align-self: flex-end;
}
