.page-container{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin-left: 50px; */
}
.landing-page-container{
  display: flex;
  justify-content: center;
  /* padding: 0 45px 0 35px; */
}

.navbar-links{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button{
  font-size: 15px;
  background-color: #1cc29f;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  padding: 0 1.25rem 0 1.25rem;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  /* flex-direction: column; */
  /* padding: 0 20px 0 35px; */
}

.area-1-container{
  /* background-color: #F6F7F7; */
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.area-two-container{
  width: 50%;
  display: flex;
  /* background-color: #5BC5A7; */
  justify-content: space-around;
}

.logo-styling{
  /* margin-top: 90px; */

}

/* .area-1__left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F7F7;
  height: 250px; 
  width: 42%;
  width: 50%;
  border: 1px solid red;
} */

.header{
  font-size: 1.5rem;
  text-align:center;
  font-weight: 700;
  display: flex;
  align-self: center;
}

.icon-list{
  display: flex;
  /* max-width: 50%; */
  justify-content: center;
  padding-top: 10px;
}

.fa-plane{
  color: #5BC5A7;
}

.fa-asterisk{
  color: #B0B1B3;
}

.fa-heart{
  color: #DAA3B2;
}

.fa-home{
  color: #CFBEEA
}

.fas:hover{
  color: black;
}

.header-one__paragraph{
  display: flex;
  font-size: 1.125rem;
  /* max-width: 20rem; */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: normal;
  font-weight: 500;
  text-align: center;
}

.header-content{
  font-size: 1.125rem;
  max-width: 28.5rem;
  margin-top: 1.5rem;
  line-height: normal;
  text-align: center;
  padding: 0 2rem 0 2rem;
  margin-bottom: 2.25rem;
  margin-top: 0.5rem;
  color: #fff;
}

.area-1-span{
  font-size: 2.5rem;
  color: #373b3f;
  font-weight: 700;
  display: flex;
  text-align: center;
  margin-left: 150px;
}

.under-icons{
  /* background-color: #F6F7F7; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* max-width: 50%; */
  /* padding-left: 200px; */
  
}

.button-one{
  display: flex;
  justify-content: center;
}

.button-two{
  display: flex;
  justify-content: center;
}

.header-one__button{
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 50px;
}

.header-one__link{
  color: white;
  padding-top: 10px;
}

.under-button{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.column2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
  width: 50%;
  font-weight: 500;
  margin-left: 480px;
  background-color: #F6F7F7;
  box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
  margin-top: 20px;

}

blockquote{
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.testimonial-customer__name{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;

}

.testimonial-customer__image{
  padding-right: 10px;
}

.landing-page-container .fas {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  
}

.balances{
  background-color: #383e41;
  color: white;
  display: flex;
  width: 50%; 
  justify-content: center;
}

.expenses{
  background-color: #39c3a2;
  color: white;
  display: flex;
  justify-content: center;
  width: 50%;
}

.friends{
  background-color: #f17445;
  color: white;
  display: flex;
  width: 50%;
  justify-content: center;
}

.add-expenses{
  background-color: #383e41;
  color: white;
  display: flex;
  width: 50%;
  justify-content: center;
}

.under-icons{
  display: flex;
  flex-direction: column;
}

.header{
  /* text-decoration: underline; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-self: center; */
  align-items: center;
  font-size: 35px;
}

.header-one__button{
  display: flex;
  justify-content: center;
}

.button-one{
  padding-bottom: 10px;
}

.pro-box{
  background-color: #8356C7;
  color: white;
  width: 1905px;
  /* height: 600px; */
  height: 500px;
  display: flex;
}

.pro-box-left__header{
  font-weight: bold;
  font-size: 40px;
  display: flex;
  padding-top: 150px;
  margin-right: 700px;
  margin-left: 200px;
}

.pro-box-left__pari{
  font-size: 20px;
  margin-left: 200px;
}

.pro-box__button{
  display: flex;
  justify-content: center;
  margin-left: 270px;
  margin-top: 50px;
  width: 35%;
  height: 50px;
}

.button-link{
  color: white;
}

.pro-box-right{
  display: flex;
}

.pro-box-right__image{
  align-self: flex-end;
}


/* Chris's Code for the navbar */
#navbar {
  background-color: #5bc5a7;
}

a.active-page {
  font-weight: bold;
}

i.active-page {
  box-shadow: -5px 0px 0px 0px lightgray;
}

.page-link {
  color: #5bc5a7;
}

.side-nav li {
  display: flex;
  flex-direction: row;
}

#logo {
  height: 35px;
  width: 120px;
  max-height: fit-content;
}

nav#navbar.navbar.container.is-widescreen {
  height: 33px;
  padding: 0px;
  width: 100%;
  max-width: unset;
  min-height: unset;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

div.navbar-brand {
  height: 33px;
  min-height: unset;
  position: relative;
  width: auto;
}

div.navbar-brand .navbar-item {
  height: 50px;
  min-height: unset;
}

div.navbar-brand img {
  height: 22px;
  min-height: unset;
  vertical-align: middle;
  padding-left: 15px;
  /* float: left; */
  /* position: sticky;
  position: relative;
  left: 150%; */
}

/* media queries */
/* Any screen less than 1280px  */
@media screen and (max-width:1280px){
  .area-1-span{
    font-size: 1.3rem;
    color: #373b3f;
    font-weight: 700; 
    display: flex;
    text-align: center; 
    margin-left: 95px;
  }
}

@media screen and (max-width:1280px){
    .area-two-container{
    width: 100%;
    display: flex;
    /* background-color: #5BC5A7; */
    justify-content: space-around;
    padding-top: 100px;
    /* flex-direction: column; */
  }
}

@media screen and (max-width:1280px){
  .area-1__right{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-left: -10px;
    text-align: center;

  }
}

@media screen and (max-width:1280px){
  .area-1-container{
  /* background-color: #F6F7F7; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  }
}

@media screen and (max-width: 1280px){
  .pro-box{
  background-color: #8356C7;
  color: white;
  /* width: 1905px; */
  /* height: 600px; */
  /* height: 500px; */
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  width: 100%;
  /* height: 200px; */
  /* padding-left: 150px; */
  /* padding-top: 50px; */
  }
}
@media screen and (max-width: 1280px){
  .pro-box-right{
  background-color: #8356C7;
  color: white;
  /* width: 1905px; */
  /* height: 600px; */
  /* height: 500px; */
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 50%;
  /* height: 200px; */
  }
}
@media screen and (max-width: 1280px){
  .pro-box-left{
  background-color: #8356C7;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  /* margin-top: -40px; */
  }
}
@media screen and (max-width: 1280px){
  .pro-box-left__header{
    margin-top: -90px;
    margin-left: 20px;
    text-align: center;
    display: flex;
  }
}
@media screen and (max-width: 1280px){
  .pro-box-left__pari{
    margin-top: -250px;
    margin-left: 220px;
    text-align: center;
    display: flex;
  }
}
@media screen and (max-width: 1280px){
  .pro-box__button{
    margin-top: 10px;
    margin-left: 270px;
    display: flex;
  }
}